@charset "UTF-8";
/*SPECIFICATIONS*/
.color-orange {
  color: #eb6a48;
}

body {
  font-family: "Open Sans", "sans-serif";
  scroll-behavior: smooth;
  color: #131313;
}

h2 {
  font-family: "Arsenal", "sans-serif";
  font-size: 40px;
  line-height: 50px;
}

.subheader {
  font-size: 18px;
  line-height: 25px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: white;
}

.hidden {
  display: none;
}

.rel {
  position: relative;
}

.static {
  position: static;
}

.btn-hover {
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn-hover:hover {
  -webkit-filter: drop-shadow(0px 10px 20px rgba(241, 104, 68, 0.3));
          filter: drop-shadow(0px 10px 20px rgba(241, 104, 68, 0.3));
}

/*END*/
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
/*HEADER*/
.header {
  padding-bottom: 16px;
  background: #ffffff;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(16, 16, 16, 0.15));
          filter: drop-shadow(0px 5px 20px rgba(16, 16, 16, 0.15));
  position: relative;
}

.header__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  margin-top: 22px;
  margin-right: 30px;
  margin-left: -15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-img {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.header__logo-name {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arsenal", "sans-serif";
}

.header__logo-name span {
  display: block;
  font-size: 10px;
  font-weight: normal;
  font-family: "Open Sans", "sans-serif";
}

.header__nav {
  margin-top: 27px;
  list-style-type: none;
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  position: relative;
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:not(:last-child) .header__nav-item-count {
  position: absolute;
  right: -11px;
  top: -5px;
  width: 22px;
  height: 12px;
  background: #eb6a48;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  text-align: center;
}

.header__nav-link {
  text-decoration: none;
  color: #000;
}

.header__nav-link:hover {
  color: black;
}

.header__nav-link:hover::before {
  content: "";
  width: 100%;
  border-bottom: 2px solid black;
  position: absolute;
  bottom: -27px;
  left: -100%;
}

.header__nav-link img {
  margin-right: 5px;
  display: inline-block;
}

.header-sub__img {
  width: 290px;
  height: 219px;
  position: absolute;
  bottom: 0;
  right: -50px;
}

.header-sub__wrap {
  display: none;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: -webkit-calc(0px + 45px);
  top: calc(0px + 45px);
  padding: 25px 0 40px 0;
  margin-top: 33px;
}

.header-sub__content {
  /* display: flex; */
  display: none;
  /*  &:not(:nth-child(2)) {
                display: none;
            }  */
}

.header-sub__list {
  margin-bottom: 20px;
}

.header-sub__list-item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 280px;
}

.header-sub__list-item:first-child {
  padding-bottom: 15px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.header-sub__list-item:last-child .header-sub__info-title {
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
}

.header-sub__info {
  margin-right: 45px;
}

.header-sub__info-title {
  max-width: 280px;
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  color: #eb6a48;
  margin-bottom: 5px;
}

.header-sub__info-text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  width: 251px;
}

.header-sub__info-btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  border: none;
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  color: #fff;
  padding: 12px;
  outline: none !important;
}

.header-sub__item {
  border-left: 1px solid #e0e0e0;
  padding-left: 25px;
}

.header-sub__item:nth-child(3) {
  margin-right: 30px;
  padding: 0 25px 0 30px;
}

.header-sub__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  color: #eb6a48;
  padding-bottom: 5px;
  border-bottom: 2px solid #eb6a48;
  margin-bottom: 15px;
}

.header-sub__nav {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.header-sub__nav:first-child {
  margin-right: 40px;
}

.header-sub__nav-link {
  color: #131313;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header-sub__nav-link:hover {
  color: #131313;
  padding-bottom: 5px;
  border-bottom: 2px solid #000000;
}

.header-sub__nav-item {
  margin-bottom: 15px;
}

.header-sub__nav-item:last-child {
  margin-bottom: 0;
}

/*END*/
/*OFFER*/
.offer {
  margin-top: 38px;
}

.offer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.offer__info {
  margin-left: 11px;
}

.offer__info-title {
  font-size: 56px;
  line-height: 67px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 20px;
  width: 438px;
}

.offer__info-title span {
  color: #eb6a48;
}

.offer__info-subtitle {
  width: 412px;
  font-size: 24px;
  line-height: 26px;
  font-family: "Arsenal", "sans-serif";
  padding-bottom: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: -1;
}

.offer__info-subtitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 130px;
  height: 2px;
  border: 2px solid #eb6a48;
}

.offer__info-subtitle span {
  color: #eb6a48;
}

.offer__info-text {
  width: 425px;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 57px;
}

.offer__info-text span {
  color: #eb6a48;
}

.offer__info-link {
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 15px 22px;
  color: #fff;
  margin-right: 26px;
}

.offer__info-task {
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.offer__info-img {
  position: relative;
  z-index: -1;
  left: -51px;
  top: -6px;
}

.offer__info-right_block {
  margin-left: -167px;
  margin-top: 12px;
}

.offer__info-help {
  font-size: 18px;
  line-height: 23px;
  font-family: "Arsenal", "sans-serif";
  width: 272px;
  font-weight: bold;
  margin-bottom: 24px;
}

.offer__info-help span:first-child {
  width: 40px;
  height: 2px;
  display: inline-block;
  border-bottom: 2px solid #131313;
  position: relative;
  top: -5px;
  z-index: -1;
}

.offer__info-help span:last-child {
  padding-left: 72px;
}

.offer__info-form {
  -webkit-box-shadow: 0px 10px 20px rgba(16, 16, 16, 0.25);
          box-shadow: 0px 10px 20px rgba(16, 16, 16, 0.25);
  background-color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 272px;
  height: 454px;
  padding: 20px;
}

.offer .form__list-item {
  margin-bottom: 13px;
}

.offer .form__list-item:nth-child(4) {
  margin-bottom: 14px;
}

.offer .form__list-item label {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 11px;
}

.offer .form__list-item input {
  outline: none;
  width: 232px;
  height: 45px;
  background: #f9f9f9;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding-left: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #606060;
  font-family: "Open Sans", "sans-serif";
}

.offer .form__list-item input[type="submit"] {
  background: #eb6a48;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  font-size: 16px;
  line-height: 21px;
  font-family: "Open Sans", "sans-serif";
  color: #fff;
  border: none;
}

/*END*/
/*PARTNERS*/
.partners {
  padding: 60px 0;
}

.partners__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 52px;
}

.partners__img {
  margin-right: 45px;
}

.partners__img:first-child {
  width: 223px;
  height: 33px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

.partners__img:nth-child(2) {
  width: 255px;
  height: 80px;
}

.partners__img:nth-child(3) {
  width: 255px;
  height: 80px;
}

.partners__img:nth-child(4) {
  width: 162px;
  height: 36px;
  margin-right: 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
              -ms-grid-row-align: center;
          align-self: center;
}

/*END*/
/*SERVICES*/
.services {
  background: #f9f9f9;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.services__img {
  position: absolute;
}

.services__img-top {
  top: -50px;
  left: 23px;
}

.services__img-bot {
  right: 0px;
  bottom: -22px;
}

.services__title {
  margin-bottom: 5px;
  text-align: center;
  margin-top: 80px;
}

.services__title span {
  color: #eb6a48;
}

.services__subheader {
  width: 500px;
  text-align: center;
  margin: 0 auto 35px;
}

.services_tabs__list {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services_tabs__list-item {
  margin-right: 30px;
}

.services_tabs__list-item:last-child {
  margin-right: 0;
}

.services_tabs__btn {
  outline: none !important;
  border: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;
  line-height: 19px;
}

.services_tabs__btn-active {
  background: #eb6a48;
  -webkit-box-shadow: 0px 3px 7px rgba(235, 106, 72, 0.35);
          box-shadow: 0px 3px 7px rgba(235, 106, 72, 0.35);
  color: #ffffff;
}

.services__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}

.services__list-item {
  margin-right: 50px;
  padding: 25px 22px;
  width: 255px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.services__list-item:last-child {
  margin-right: 0;
}

.services__list-img {
  width: 212px;
  height: 171px;
  margin-bottom: 10px;
}

.services__list-title {
  width: 181px;
  font-size: 24px;
  line-height: 24px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 5px;
}

.services__list-title span {
  color: #eb6a48;
}

.services__list-desc {
  width: 215px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 26px;
}

.services__list-bottom {
  margin-bottom: 25px;
}

.services__list-link {
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  padding: 10px 20px;
  color: #ffffff;
  margin-right: 20px;
}

.services__list-price {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.services__link-more {
  padding: 29px 17px 0px;
  background: #eb6a48;
  -webkit-box-shadow: 0px 6px 20px rgba(235, 106, 72, 0.3);
          box-shadow: 0px 6px 20px rgba(235, 106, 72, 0.3);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 105px;
  height: 105px;
  margin-top: 153px;
  margin-left: 51px;
}

.services__link-more span {
  position: relative;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
}

.services__link-more span::before {
  background-repeat: no-repeat;
  content: "";
  width: 15px;
  height: 25px;
  background-image: url(../img/services/arrow.svg);
  -webkit-background-size: 12px 24px;
          background-size: 12px 24px;
  display: block;
  margin-left: 30px;
  position: relative;
  top: 5px;
}

/*END*/
/* TASKS */
.tasks {
  padding-bottom: 60px;
}

.tasks__bg {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 215px;
  height: 215px;
}

.tasks__title {
  color: #131313;
  width: 749px;
  margin: 0 auto 5px;
}

.tasks__title span {
  color: #eb6a48;
  margin-left: 5px;
}

.tasks__subheader {
  width: 558px;
  text-align: center;
  margin: 0 auto 60px;
}

.tasks__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.tasks__list-item {
  margin-right: 30px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tasks__list-item:last-child {
  margin-right: 0;
}

.tasks__list-item:nth-child(7), .tasks__list-item:nth-child(8), .tasks__list-item:nth-child(9) {
  margin-bottom: 0;
}

.tasks__list-img {
  width: 65px;
  height: 65px;
  margin-right: 15px;
}

.tasks__list-title {
  font-size: 20px;
  line-height: 25px;
  max-width: 253px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 5px;
}

.tasks__list-desc {
  width: 258px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.tasks__list-desc span {
  color: #131313;
  font-weight: 600;
}

.tasks_strat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.tasks_strat__title {
  width: 715px;
  margin: 0 auto 23px;
  font-family: "Arsenal", "sans-serif";
  font-size: 30px;
  line-height: 38px;
}

.tasks_strat__title span {
  color: #eb6a48;
}

.tasks_strat__number {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.tasks_strat__img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.tasks_strat__phone {
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: #131313;
  margin-top: -10px;
}

.tasks_strat__phone:hover {
  color: #131313;
}

.tasks__info-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tasks__info-link {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 15px 22px;
  color: #fff;
  margin-right: 26px;
}

.tasks__info-task {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  height: 25px;
  margin-top: 15px;
  margin-right: 20px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

/* END */
/* REVIEWS */
.reviews {
  background-color: #f9f9f9;
  padding-bottom: 60px;
  /*REVIEWS SLIDER*/
  /*Конкретный слайдер*/
  /*Левая стрелочка*/
  /*Если слайдер достигнет конца,то кнопка пропадает
*/
  /*Точки*/
  /*END*/
}

.reviews__title {
  width: 620px;
  margin: 62px auto 5px;
}

.reviews__title span {
  color: #eb6a48;
}

.reviews__subheader {
  width: 721px;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 60px;
}

.reviews .reviews__slider {
  position: relative;
  margin-bottom: 135px;
}

.reviews .reviews__slider .slick-arrow {
  width: 50px;
  height: 50px;
  -webkit-filter: drop-shadow(0px 5px 10px rgba(235, 106, 72, 0.3));
          filter: drop-shadow(0px 5px 10px rgba(235, 106, 72, 0.3));
  background-color: #eb6a48;
  background-repeat: no-repeat;
  -webkit-background-size: 30px 30px;
          background-size: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  z-index: 10;
  font-size: 0;
  border: 0;
  outline: none;
  position: absolute;
  bottom: -90px;
}

.reviews .reviews__slider .slick-arrow.slick-prev {
  background-image: url("../img/slider/prev.svg");
  background-position: 8px 50%;
  left: -webkit-calc(50% - 65px);
  left: calc(50% - 65px);
  right: -webkit-calc(50% + 15px);
  right: calc(50% + 15px);
}

.reviews .reviews__slider .slick-arrow.slick-next {
  background-image: url("../img/slider/next.svg");
  background-position: 12px 50%;
  left: 50%;
  right: -webkit-calc(50% - 15px);
  right: calc(50% - 15px);
}

.reviews .reviews__slider .slick-arrow .slick-disabled {
  opacity: 0.2;
}

.reviews .reviews__slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .reviews__slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.reviews .reviews__slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background-color: #000;
  opacity: 0.5;
  border: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  outline: none;
}

.reviews .reviews__slider .slick-dots li.slick-active button {
  background-color: transparent;
  background-color: #000;
  opacity: 1;
}

.reviews .reviews__slider .slider__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 791px;
  height: 422px;
  padding: 68px 43px;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(16, 16, 16, 0.2);
          box-shadow: 0px 10px 20px rgba(16, 16, 16, 0.2);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  margin-right: 30px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  margin-bottom: 40px;
}

.reviews .reviews__slider .slick-current {
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.reviews .reviews__slider .reviews__client-logo {
  margin-right: 49px;
  width: 220px;
  height: 220px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 29px 27px;
  border: 3px solid #131313;
  position: relative;
}

.reviews .reviews__slider .reviews__client-quote {
  position: absolute;
  top: 0;
  right: 0;
}

.reviews .reviews__slider .reviews__client-img {
  width: 162px;
  height: 162px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.reviews .reviews__slider .reviews__info-client {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: "Arsenal", "sans-serif";
}

.reviews .reviews__slider .reviews__info-text {
  width: 436px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.reviews .reviews__slider .reviews__info-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 5px;
}

.reviews .reviews__slider .reviews__info-pos {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #2c2c2c;
}

.reviews_more__title {
  width: 381px;
  margin: 0 auto 5px;
  font-size: 30px;
  line-height: 38px;
  font-family: "Arsenal", "sans-serif";
}

.reviews_more__title span {
  color: #eb6a48;
}

.reviews_more__text {
  width: 448px;
  margin: 0 auto 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.reviews_more__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 920px;
  height: 120px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 30px 56px;
}

.reviews_more__item {
  padding-right: 30px;
  margin-right: 30px;
  position: relative;
}

.reviews_more__item:last-child {
  margin-right: 0;
}

.reviews_more__item:last-child::after {
  content: none;
}

.reviews_more__item:nth-child(1) a img:first-child {
  width: 230px;
  height: 60px;
}

.reviews_more__item:nth-child(2) a img:nth-child(1) {
  width: 216px;
  height: 60px;
}

.reviews_more__item:nth-child(3) a img:nth-child(1) {
  width: 248px;
  height: 60px;
}

.reviews_more__item::after {
  content: "";
  width: 1px;
  height: 87px;
  border: 1px solid black;
  position: absolute;
  right: 0;
  top: -15px;
}

/* END */
/* PORTFOLIO  */
.portfolio {
  padding-bottom: 40px;
}

.portfolio__title {
  width: 717px;
  margin: 60px auto 5px;
  font-family: "Arsenal", "sans-serif";
}

.portfolio__title span {
  color: #eb6a48;
}

.portfolio__subheader {
  width: 564px;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto 60px;
}

.portfolio__list {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  position: relative;
}

.portfolio__item-name {
  margin-top: 50px;
}

.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__name {
  font-size: 24px;
  line-height: 30px;
}

.portfolio__link {
  font-size: 18px;
  line-height: 23px;
  padding-top: 6px;
  margin-left: auto;
  color: #131313;
}

.portfolio__link:hover {
  color: #131313;
}

.portfolio__link img {
  display: inline;
}

.portfolio__btn {
  width: 40px;
  height: 40px;
  border: 2px solid #131313;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: 0;
}

.portfolio__btn span {
  width: 20px;
  height: 2px;
  border: 1px solid #131313;
  margin: 17px auto;
  display: block;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  position: relative;
}

.portfolio__btn span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -1px;
}

.portfolio__btn-active span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -1px;
}

.portfolio__work {
  border-top: 2px solid #131313;
  border-bottom: 2px solid #131313;
  padding: 15px 0 35px 0;
  max-height: 140px;
  overflow: hidden;
  -webkit-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

.portfolio__work:last-child .portfolio_cm__bg {
  display: none;
}

.portfolio__work:last-child .portfolio_cm__item {
  opacity: 0;
}

.portfolio__work .portfolio__img {
  opacity: 0;
}

.portfolio__work .portfolio__wrapper {
  margin-left: auto;
  margin-right: 150px;
}

.portfolio__work-active {
  max-height: 354px;
}

.portfolio__work-active:last-child {
  max-height: 523px;
}

.portfolio__work-active:last-child .portfolio_cm__bg {
  display: block;
}

.portfolio__work-active:last-child .portfolio_cm__item {
  opacity: 1;
}

.portfolio__work-active:last-child .portfolio_cm__item:nth-child(3) .portfolio_cm__text {
  opacity: 1;
}

.portfolio__work-active .portfolio__img {
  opacity: 1;
}

.portfolio__work-active .portfolio__wrapper {
  margin-left: inherit;
  margin-right: inherit;
}

.portfolio__work-active .portfolio__desc {
  display: block;
}

.portfolio__work-active .portfolio__desc-excerpt {
  display: none;
}

.portfolio__number {
  font-size: 48px;
  line-height: 60px;
  font-family: "Arsenal", "sans-serif";
  margin-right: 50px;
  font-weight: normal;
}

.portfolio__img {
  margin-top: 14px;
  margin-right: 50px;
  width: 475px;
  height: 290px;
  -webkit-filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.portfolio__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__name {
  font-weight: normal;
  font-size: 32px;
  line-height: 40px;
  font-family: "Arsenal", "sans-serif";
  margin-bottom: 15px;
}

.portfolio__desc {
  width: 414px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
  display: none;
}

.portfolio__desc-excerpt {
  width: 414px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 35px;
}

.portfolio__desc-excerpt-none {
  display: none;
}

.portfolio__subject, .portfolio__region, .portfolio__advancement, .portfolio__increase {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 5px;
}

.portfolio .color-orange {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.portfolio__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_cm {
  position: relative;
}

.portfolio_cm__bg {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  width: 379px;
  height: 312px;
  position: absolute;
  right: 0;
  bottom: 35px;
}

.portfolio_cm__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.portfolio_cm__list-none .portfolio_cm__item:not(:nth-child(3)) {
  display: none;
}

.portfolio_cm__list-none .portfolio_cm__item:nth-child(3) {
  opacity: 1;
}

.portfolio_cm__list-none .portfolio_cm__item:nth-child(3) .portfolio_cm__text {
  display: none;
}

.portfolio_cm__item {
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-right: 45px;
  margin-bottom: 45px;
}

.portfolio_cm__item:nth-child(3), .portfolio_cm__item:nth-child(6) {
  margin-right: 0;
}

.portfolio_cm__img {
  width: 45px;
  height: 45px;
}

.portfolio_cm__img-wrap {
  width: 75px;
  height: 75px;
  background: #eb6a48;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  margin-top: 14px;
}

.portfolio_cm__name {
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 5px;
  font-family: "Arsenal", "sans-serif";
}

.portfolio_cm__desc {
  width: 187px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 20px;
}

.portfolio_cm__btn {
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.portfolio_cm__title {
  width: 344px;
  font-family: "Arsenal", "sans-serif";
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 10px;
}

.portfolio_cm__text {
  width: 414px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

/* END */
.achievements {
  padding-bottom: 60px;
}

.achievements__title {
  width: 366px;
  margin: 0 auto 5px;
  font-family: "Arsenal", "sans-serif";
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
}

.achievements__subheader {
  width: 553px;
  margin: 0 auto 40px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.achievements__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.achievements__list-item {
  height: 150px;
  padding: 10px 40px 10px 0;
  margin-right: 40px;
  border-right: 2px solid #131313;
}

.achievements__list-item:last-child {
  border: none;
}

.achievements__list-number {
  font-family: "Arsenal", "sans-serif";
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
}

.achievements__list-desc {
  width: 189px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.niches {
  padding-bottom: 25px;
  background: #f9f9f9;
}

.niches__title {
  width: 690px;
  margin: 71px auto 5px;
}

.niches__subheader {
  width: 673px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 60px;
  text-align: center;
}

.niches__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.niches__bg {
  position: absolute;
}

.niches__bg-top {
  width: 210px;
  height: 157px;
  top: 0;
  left: 0;
}

.niches__bg-bot {
  width: 262px;
  height: 262px;
  right: 0;
  bottom: -145px;
}

.niches__list {
  width: 607px;
  height: 284px;
  margin-top: 51px;
  margin-right: 115px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.niches__list-item {
  margin-right: 31px;
  margin-bottom: 50px;
}

.niches__list-item:nth-child(5), .niches__list-item:nth-child(10) {
  margin-right: 0;
}

.niches__list-item:nth-child(6), .niches__list-item:nth-child(7), .niches__list-item:nth-child(8), .niches__list-item:nth-child(9), .niches__list-item:nth-child(10) {
  margin-bottom: 0;
}

.niches__list-img {
  width: 50px;
  height: 50px;
}

.niches__list-img_bg {
  width: 85px;
  height: 85px;
  background: #eb6a48;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  padding: 18px 17px 17px 18px;
  margin: 0 auto 10px;
}

.niches__list-name {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.niches__img-active {
  width: 385px;
  height: 375px;
  margin-bottom: 60px;
}

.stages {
  padding-bottom: 60px;
}

.stages__title {
  width: 354px;
  margin: 60px auto 5px;
}

.stages__subheader {
  width: 392px;
  margin: 0 auto 50px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.stages__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stages__list-item {
  margin-right: 50px;
}

.stages__list-item:last-child {
  margin-right: 0;
}

.stages__list-scale {
  width: 170px;
  height: 170px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px;
}

.stages__list-scale:nth-child(1) {
  background-image: url("../img/stages/1.png");
}

.stages__list-scale:nth-child(2) {
  background-image: url("../img/stages/2.png");
}

.stages__list-scale:nth-child(3) {
  background-image: url("../img/stages/3.png");
}

.stages__list-scale:nth-child(4) {
  background-image: url("../img/stages/4.png");
}

.stages__list-percent {
  font-size: 36px;
  line-height: 45px;
}

.stages__list-name {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: center;
}

.stages__list-desc {
  width: 238px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.indexing {
  background: #f9f9f9;
  padding-bottom: 60px;
}

.indexing__bg {
  position: absolute;
  bottom: -30px;
  left: 15px;
}

.indexing__title {
  width: 659px;
  margin: 60px auto 5px;
}

.indexing__subheader {
  width: 699px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto 60px;
}

.indexing__wrapper {
  width: 825px;
  height: 465px;
  background: #f9f9f9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 10px solid #131313;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 20px 35px rgba(19, 19, 19, 0.2);
          box-shadow: 0px 20px 35px rgba(19, 19, 19, 0.2);
  -webkit-border-radius: 30px;
          border-radius: 30px;
  margin: 0 auto;
  padding: 30px 50px 30px 50px;
  overflow: hidden;
  z-index: 22;
  position: -webkit-sticky;
  position: sticky;
}

.indexing__name-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.indexing__table {
  overflow-y: scroll;
  width: 760px;
  height: 300px;
  padding-left: 21px;
  margin-left: -20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.indexing__table::-webkit-scrollbar {
  width: 0;
}

.indexing__table-scroll {
  position: relative;
}

.indexing__table-scroll::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 335px;
  border: 2px solid #2c2c2c;
  right: 178px;
  top: -21px;
}

.indexing__table-item {
  width: 695px;
  padding: 7px 0 7px 15px;
  margin-bottom: 15px;
  background: #f0f0f0;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.indexing__table-item:nth-child(2n + 2) {
  background: #dedede;
  -webkit-filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.indexing__table-text:first-child {
  max-width: 538px;
}

.indexing__table-text:last-child {
  width: 178px;
  text-align: center;
  margin-left: auto;
}

.indexing__table-title {
  font-family: "Arsenal", "sans-serif";
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 4px;
}

.indexing__table-desc {
  width: 182px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
}

.indexing__table-name {
  margin-bottom: 25px;
}

.indexing__table-name-second {
  margin-left: auto;
}

.indexing__table-name-second .indexing__table-desc {
  width: 160px;
}

.articles {
  padding-bottom: 60px;
}

.articles__title {
  width: 565px;
  margin: 60px auto 5px;
}

.articles__subheader {
  width: 606px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  margin: 0 auto 60px;
}

.articles__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.articles__item {
  width: 349px;
  background: #f8f8f8;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-right: 30px;
}

.articles__item:last-child {
  margin-right: 0;
}

.articles__item-desc-wrap {
  padding: 0 20px 20px 20px;
}

.articles__item-img {
  width: 100%;
  height: 220px;
  -webkit-border-radius: 15px 0px 0px 15px;
          border-radius: 15px 0px 0px 15px;
  margin-bottom: 20px;
}

.articles__item-title {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}

.articles__item-desc {
  width: 286px;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
}

.articles__item-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.articles__item-link {
  background: #eb6a48;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 15px 26px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.articles__item-link:hover {
  color: #fff;
}

.articles__item-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.articles__item-info-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.articles__item-info-date {
  margin-right: 20px;
}

.articles__item-info-img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.articles__invite_text {
  width: 675px;
  margin: 0 auto 15px;
  font-family: "Arsenal", "sans-serif";
  font-size: 30px;
  line-height: 38px;
}

.articles__invite_link {
  width: 118px;
  margin: 0 auto;
  display: block;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.articles__invite_link:hover {
  color: #000;
}

.questions {
  padding-bottom: 60px;
  background: #f9f9f9;
}

.questions__title {
  width: 634px;
  margin: 60px auto 5px;
}

.questions__subheader {
  width: 588px;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0 auto 50px;
}

.questions__bg {
  position: absolute;
  right: 0;
  top: -180px;
}

.questions__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.questions__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.questions__list-item {
  width: 920px;
  height: 55px;
  margin-bottom: 25px;
}

.questions__list-item:last-child {
  margin-bottom: 0;
}

.questions__list-item-active {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.questions__list-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 24px 15px 30px;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.questions__list-title {
  font-family: "Arsenal", "sans-serif";
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.questions__list-btn {
  position: relative;
  border-top: 2px solid #131313;
  -webkit-border-radius: 30px;
          border-radius: 30px;
  width: 20px;
  height: 2px;
  margin-top: 15px;
  margin-left: auto;
}

.questions__list-btn-active::after {
  display: none;
}

.questions__list-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 2px solid #131313;
  -webkit-border-radius: 30px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 30px;
  top: -2px;
}

.questions__list-desc_wrap {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.questions__list-desc_wrap-active {
  padding: 20px 20px 35px 20px;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.questions__list-desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.footer__main {
  background: #171717;
  padding-bottom: 60px;
  padding-top: 30px;
}

.footer__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 25px;
  border-bottom: 2px solid #fff;
  margin-bottom: 30px;
}

.footer__about {
  margin-right: 45px;
}

.footer__about-title {
  font-family: "Arsenal", "sans-serif";
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #ffffff;
}

.footer__about-text {
  width: 371px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.footer__contacts {
  padding: 0 51px 0 39px;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  margin-right: 35px;
}

.footer__contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__contacts__list {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.footer__contacts__list-item {
  width: 231px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.footer__contacts__list-item:last-child {
  margin-bottom: 0;
}

.footer__contacts__list-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.footer__map-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__map-map {
  width: 243px;
  height: 131px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__nav-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 50px;
}

.footer__nav-cont:last-child {
  margin-right: 0;
}

.footer__nav-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 35px;
}

.footer__nav-wrap:last-child {
  margin-bottom: 0;
}

.footer__nav-title {
  font-family: "Arsenal", "sans-serif";
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 3px;
  margin-bottom: 25px;
  color: #eb6a48;
}

.footer__nav-title span {
  display: block;
  color: #eb6a48;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__nav__list-item {
  margin-bottom: 15px;
  max-width: 230px;
  word-break: break-word;
}

.footer__nav__list-item:last-child {
  margin-bottom: 0;
}

.footer__nav__list-link {
  width: 202px;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.footer__nav__list-link:hover {
  color: #ffffff;
}

.copyright {
  background: #0A0A0A;
  padding: 10px 0;
}

.copyright__text {
  width: 517px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */